/* MAIN */
:root {
	--text-color-1: #000000;
	--border-color: #000000;
	--background-color: #ffffff;
	--placeholder-text: #999999;
	--font-size-1: 1.1;
	--font-size-2: 1.5;
}

body{
	margin: 0;
	background-color: var(--background-color);
	transition: background-color 700ms;
}

main {
	display: grid;
	grid-template-rows: minmax(8vh, 10vh) minmax(20vh, auto) minmax(12vh, auto);
	margin-left:12%;
	margin-right:12%;
	margin-bottom: 2%;
	padding-top: 9.5vh;
}

p, span {
	color: var(--text-color-1);
	font-family: WorkSans;
	font-size: 0.9em;
}

th{font-family:WorkSansBlack;font-size:1em;letter-spacing: 0.75px;color:var(--text-color-1)}
span{font-size: 1.1em;}

table, th, td {
	border: none;
	padding: 0;
	margin:0;
}

thead, tbody{font-size: 0.9em;margin:0;padding:2px;}


/* ALERT */
#alert {
	--alert-text-col: #ffffff;
	--alert-back-col: #000000;
	background-color: var(--alert-back-col);
	position:fixed;
	top:0%;
	left:50%;
	width:30vw;
	height:10vh;
	transform:translate(-50%, -110%);
	z-index:499;
	transition: transform 450ms;
	padding:0.5em;
	border:2px solid white;
}
#alert p{color:var(--alert-text-col) !important;}
.open-alert{transform: translate(-50%, 0%)!important;}


/* CONTROL BAR */
#controlbar{
	padding:0.5em;
	position:fixed;
	z-index:99;
	background-color: var(--background-color);
	width:100%;
	display:grid;
	grid-template-columns: 15% 15% 20%;
	transition: background-color 700ms;
}

#controlbar table, #controlbar thead, #controlbar tbody {width:100%;}

#font-cons {
	width:70%;
	margin-left:15%;
	margin-right:10%;
	display:flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.mainControls {
	min-height: 3vh;
	border:2px solid var(--border-color)
}

#addMain, #removeMain {
	position:relative;
	margin-top:0.75vh;
	margin-bottom:0.75vh;
	width:100%;
	display:inline-block;
}

/* EDITOR */
.notes, .mainidea{border:1px solid var(--border-color);}
.header, .summary{border:2px solid var(--border-color);}
.header, .summary, .mainidea, .notes{padding:0.6vw;}
.main:first-of-type{border-top:1px solid var(--border-color);}
.main{border-bottom:3px dotted var(--border-color);border-left:1px solid var(--border-color);border-right:1px solid var(--border-color);}
.main:last-of-type{border-top:none;border-bottom:1px solid var(--border-color);}
.mainidea, .notes{border-bottom:none;border-top:none;}

#mainwrapper {
	display: grid;
	grid-template-rows: minmax(20vh,auto);
}
.main {
	display: grid;
	grid-template-columns: 25% 75%;
}

textarea {
	color: var(--text-color-1);
	margin:3px;
	font-family: WorkSans;
	font-size: calc(var(--font-size-1) * 1em);
	width:100%;
	background-color:var(--background-color);
	border: none;
	resize: none;
	width:100%;
	height: 100%;
	transition: background-color 700ms;
}

textarea:focus {
	border-bottom: 3px dotted var(--border-color) !important;
	outline:none;
}

.header input {
	font-family: WorkSansBlack;
	font-size: calc(var(--font-size-2) * 1em);
	border:none;
	width: 80%;
	background-color:var(--background-color);
	color:var(--text-color-1);
	transition: background-color 700ms;
}

.header input:focus{border-bottom: 3px dotted var(--border-color) !important;outline:none;}

.summary textarea{min-height:12vh;overflow:hidden;}
.mainidea textarea, .notes textarea{min-height:20vh;overflow:hidden;}

/* NOSCRIPT / SCREEN SIZE WARNING */
noscript, .small-screen {
	display:block;
	position:fixed;
	z-index:999;
	background-color:rgb(214, 214, 214);
	color:black !important;
	text-align:center;
	width:100%;
	height:100%;
	font-size:1.5em;
}

noscript h1, .small-screen h1 {
	font-family:WorkSansBlack;
}

.error-cont {padding:2em;}
.diagnostics {position:absolute;bottom:5%;}

.small-screen{display: none !important;}

@media only screen and (max-width:650px) {.small-screen{display: block !important;}}

/* RESPONSIVENESS */
@media only screen and (max-width:950px) {
	#font-cons {
		width:70% !important;
		margin-left:15% !important;
		margin-right:15% !important;
	}
	#font-cons p{width:11vw !important;}
}

@media only screen and (max-width:1200px) {
	body{zoom:75%;}
	#controlbar{grid-template-columns: 15% 20% 25%;}
	main{padding-top:15vh;}
	textarea{width:95%;height:95%;}
	.header, .summary, .mainidea, .notes{padding:0.3vw;}
	#font-cons {
		width:50%;
		margin-left:25%;
		margin-right:25%
	}
}

/* FONTS */
@font-face {
	font-family: WorkSans;
	src: url(WorkSans-Regular.ttf);
}

@font-face {
	font-family: WorkSansBlack;
	src: url(WorkSans-Black.ttf);
}